.adminContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.sidePanelBtn {
  margin: 2vw;
  width: 30vw;
}

.adminCard {
  width: 85vw;
  min-height: 30vh;
  padding: 5vh;
}
