.containerAide{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
 
  
}
.textAide{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-color: rgb(246, 250, 250);
  margin:2rem;
  padding:2rem;
  border-color: blue;
  max-width: 90vh;
}

.titleAide{
  color: blue;
  text-align: left;
}
.linkAide{
  background.color: green;
}