.containerAide{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: clamp(15px, 9vw, 20px);
}
.textAide{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-color: rgb(230, 230, 230);
  margin:2rem;
  padding:2rem;
  max-width: 90vh;
}

.titleAide{
  font-size: clamp(15px, 9vw, 30px);
  text-align: left;
  margin:2rem;
}
