.connexion {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card {
    background: linear-gradient(#f7f6f5, #ebf1f7);
    margin: 5vh;
    padding: 2vh;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 6px 10px;
    border-radius: 20px;
    text-align: center;
}

.buttonConnect {
    border: none;
    border-radius: 10px;
    background-color: rgb(141, 68, 141);
    color: ghostwhite;
    margin: 2vh;
}

.buttonConnect:hover {
    background-color: cornflowerblue;
}

.error {
    color: #bf1650;
  }