
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** BODY *****/
.bodyDevisAllQuestions {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
/**** PRINCIPAL CONTAINER ***/
.containerDevisAllQuestions {
  overflow: hidden;
  width: 90%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  border-radius: 20px;
  display: grid;
  gap: 2vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 5%;
  /* background: yellowgreen; */
}

/****** ----  RADIO CHOICE  ----  *******/
.containerRadioChoiceComponent > h1 {
  font-size: clamp(15px, 8vw, 22px);
}
.formTagRadioChoice {
  height: 30vh;
  /* background: yellow; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.inputCardRadioChoice {
  /* background: rgb(156, 137, 30); */
  min-width: 50px;
  min-height: 10px;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
.inputCardRadioChoice:hover {
  border: 1px solid purple;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px
}


/******  ----  CHECK CHOICE  ----  ******/
.containerCheckChoiceComponent {
  /* background: cyan; */
  padding: 1rem;
}
.containerCheckChoiceComponent > h1 {
  font-size: clamp(15px, 8vw, 22px);
}
.formTagCheckChoice {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.inputCardCheckChoice {
  min-width: 30px;
  min-height: 10px;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
.inputCardCheckChoice:hover {
 border-color: 1px purple;
}
.inputCardCheckChoice:hover {
  border: 1px solid purple;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px
}


/****** ----  LIST CHOICE  ---- ******/
.containerListChoiceComponent {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.containerListChoiceComponent > h1 {
  font-size: clamp(15px, 8vw, 22px);
}
.btnDropDownToggleDevisAllQuestions {
  background: rgb(139, 21, 134);
  border: 1px solid purple;
}

.btnDropDownItemDevisAllQuestions {
font-size: clamp(10px, 8vw, 15px);
}
/*****  ---- SHORT TEXT ---- ****/
.containerShortTextComponent {
  /* background: yellow; */
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.containerShortTextComponent > h1 {
  font-size: clamp(15px, 8vw, 22px);
}
.formControlShortText:hover {
  box-shadow:rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

/**** ---- LONG TEXT ---- ****/
.containerLongTextComponent {
  /* background: chartreuse; */
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.containerLongTextComponent > h1 {
  font-size: clamp(15px, 8vw, 22px);
}
.containerFormLongTextComponent {
  width: 100%;
}
.inputFormLongTextComponent {
  width: 100%;
  height: 20vh;
  border: 1px solid #333;
}
.inputFormLongTextComponent:hover {
  box-shadow:rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

/** TITLE **/
.topTitleDevisForm {
  font-size:clamp(20px, 9vw, 31px);
  padding: 2rem;
}