
.profileData ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2vw;
}

.profileData li {
    list-style-type: none;
    margin: 2vw;
    margin-bottom: 5vh;
}

.profileMain {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.profileMain li {
    text-align: center;
    list-style-type: none;
    margin: 2vw;
    background-color: aliceblue;
}

.headerDevis {
    display: flex;
    justify-content: space-evenly;
}

.profileDevis {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: ghostwhite;
}

.headerMessages {
    display: flex;
    justify-content: space-evenly;
}

.profileMessages {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: ghostwhite;
}

.tabs {
    display: flex;
    justify-content: center;
}

.button {
    border-style: ridge;
    width: 100%;
    height: 7vh;
    background-color: whitesmoke;
}

@media screen and (max-width: 700px) {
    .profileMain {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
}