.containerFaq{
  display: flex;
  flex-direction: center;
  width: 70vw;
  height: 50vh;
  
}
.h1Faq{
  margin:2rem;
  
}
.textFaq{
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 240, 238);
  margin:2rem;
  
}
.titleFaq{
  color: blue;
  text-align: left;
  margin:2rem;
}
