.containerFaq{
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 5vh;
}
.textFaq{
  display: flex;
  flex-direction: column;
  margin:2rem;
  font-size: clamp(10px, 10vw, 17px);
}
.titleFaq{
  color: #800080;
  text-align: left;
  margin:2rem;
  font-size: clamp(10px, 10vw, 27px);
}

.h1Faq {
  padding: 4rem;
  font-size: clamp(15px, 9vw, 50px);
}
