.footerContainer{
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  flex-direction: row;
}
.footerMenu{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
 
}

.itemsNavBar{
  line-height: 1rem;
  font-size: 1rem;
}
.footerLigne{
  background-color: cadetblue;
  height:0.5rem;
  
}
.footerLink{
  font-size: 12px;
}
.footerH3{
  font-size:14px;
}