.home {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.homecard {
    background-color: lightsteelblue;
    width: 40vw;
    height: 70vh;
    margin: 5vh;
    padding: 2vh;
    box-shadow: 5px 5px 5px black;
    border-radius: 5%;
    border-color: black;
    text-align: center;
}

.homeImage {
    width: 30vw;
    height: 30vh;
}