.containerMentionsLegales{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.textMentionsLegales{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-color: rgb(246, 250, 250);
  margin-left:2rem;
  max-width: 70vw;
  font-size: 12px;
  line-height: 1rem;
}

.titleMentionsLegales{
  color: blue;
  text-align: left;
  padding:2rem;
  font-size:14px;
}