.containerModeEmploi{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
}
.textModeEmploi{
  margin:2rem;
  padding:2rem;
  font-size: 14px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-height: 70%;
}
.titleModeEmploi{
  padding: 1.5rem;
  font-size: clamp(10px, 9vw, 30px);
}
