.containerNavBar {
    font-family: Moderat-Bold, "Helvetica Neue", Arial, sans-serif;
    border: 1px solid rgb(202, 202, 202);
}

.navlinks {
    font-size: 1rem;
    font-family: Moderat-Bold, "Helvetica Neue", Arial, sans-serif;
    border-radius: 10px;
}
.navlinks:hover {
    background: rgb(199, 147, 199);
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBarLink{
    font-size: 12px;
    
  }
  .containerNavBar{
      height: 15vh;
  }
