.containerTopDevis{
  display: flex;
  flex-direction: row;
  align-content: center;
}

.textTopDevis{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 2px 5px;
  margin:2rem;
  padding:2rem;
  border-color: blue;
  max-width: 90vh;
}

.titleTopDevis{
  color: blue;
  text-align: left;
  margin:2rem;
}