
.profileHead {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 5px;
}

.profileData li {
    list-style-type: none;
    margin: 2px;
}

.tabs {
    display: flex;
    justify-content: center;
}

.button {
    margin: 2vh;
    border-radius: 10px;
    border-style: hidden;
    width: 45vw;
    height: 5vh;
    background-color: lightskyblue;
}